---
import Layout from "../layouts/Layout.astro";
import roxy from "../assets/roxy.jpg";
import "../css/style.css";
---

<Layout title="Welcome to Astro.">
  <section>
    <div class="home">
      <div class="home-content">
        <div class="first_content">
          <h1>I AM ROXY</h1>
          <h5>Kitesurfer</h5>
        </div>
        <div class="second_content">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex,
            molestiae laborum dolorem aspernatur, doloremque rem corporis ut
            officiis enim possimus quia blanditiis, saepe esse sed nemo sint
            aperiam eum similique.
          </p>
          <!-- <p>MORE ABOUT ME</p> -->
        </div>
      </div>
      <div class="image">
        <img
          class="image_1"
          src="http://static.showit.co/800/gZDD29CnRUa-fvf_RkhUow/69254/camille-brodard-fylwhdmwcgs-unsplash.jpg"
        />
        <img
          class="image_2"
          src="http://static.showit.co/400/-q6DcY2aRbqCPJpFCoRHXg/69254/mathilde-langevin-uxqexcc4zqy-unsplash.jpg"
          alt="roxy"
        />
      </div>
    </div>
  </section>

  <section class="body_section">
    <div class="body">
      <div class="body_image">
        <img src={roxy} alt="ROXY" />
      </div>
      <div class="body_content">
        <div class="first_body_content">
          <h1>Galleries</h1>
          <p>
            These are the gallery types you can use to showcase your work. Use
            one type, all three or create something completely new. These are
            quick links to a gallery canvas on this page. A little further down
            you can also list your project images and link these to a separate
            project page for more space. whatever you like!
          </p>
        </div>
        <div class="second_body_content">
          <div class="view_gallery">
            <h1>TILED GALLERY</h1>
            <a href="">
              <p>VIEW GALLERY</p>
            </a>
          </div>
          <div class="view_gallery">
            <h1>SLIDING GALLERY</h1>
            <a href="">
              <p>VIEW GALLERY</p>
            </a>
          </div>
          <div class="view_gallery">
            <h1>COLLAGE GALLERY</h1>
            <a href="">
              <p>VIEW GALLERY</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="Our-team">
    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-lg-9 d-flex flex-column align-items-center py-5">
        <div class="row">
          <h1 class="mb-5 text-center">Our Team</h1>
          <div
            class="col-6 mb-3 mb-lg-0 col-md-3 d-flex flex-column align-items-center"
          >
            <img
              class="rounded-circle profile-img"
              src="/assets/profile-1.jpg"
              alt=""
            />
            <h4 class="mt-2">TTH</h4>
          </div>
          <div class="col-6 col-md-3 d-flex flex-column align-items-center">
            <img
              class="rounded-circle profile-img"
              src="/assets/profile-2.jpg"
              alt=""
            />
            <h4 class="mt-2">KHH</h4>
          </div>
          <div class="col-6 col-md-3 d-flex flex-column align-items-center">
            <img
              class="rounded-circle profile-img"
              src="/assets/profile-3.jpg"
              alt=""
            />
            <h4 class="mt-2">ETY</h4>
          </div>
          <div class="col-6 col-md-3 d-flex flex-column align-items-center">
            <img
              class="rounded-circle profile-img"
              src="/assets/profile-4.jpg"
              alt=""
            />
            <h4 class="mt-2">WNO</h4>
          </div>
        </div>
        <div class="my-3">
          <a href="/our_team"><button class="btn">Read More</button></a>
        </div>
      </div>
    </div>
  </section>
</Layout>
