---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<section>
		<div class="home">
		  <div class="home-content">
			<div class="first_content">
			  <h1>I AM ROXY</h1>
			  <h5>Kitesurfer</h5>
			</div>
			<div class="second_content">
			  <p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex,
				molestiae laborum dolorem aspernatur, doloremque rem corporis ut
				officiis enim possimus quia blanditiis, saepe esse sed nemo sint
				aperiam eum similique.
			  </p>
			  <!-- <p>MORE ABOUT ME</p> -->
			</div>
		  </div>
		  <div class="image">
			<img
			  class="image_1"
			  src="http://static.showit.co/800/gZDD29CnRUa-fvf_RkhUow/69254/camille-brodard-fylwhdmwcgs-unsplash.jpg"
			/>
			<img
			  class="image_2"
			  src="http://static.showit.co/400/-q6DcY2aRbqCPJpFCoRHXg/69254/mathilde-langevin-uxqexcc4zqy-unsplash.jpg"
			  alt="roxy"
			/>
		  </div>
		</div>
	  </section>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
