---
import Layout from "../layouts/Layout.astro";
import "../css/style.css";
import Card from "../components/Card.astro";
---

<Layout title="our_team">
  <section class="our_team_section">
    <div class="content">
      <p>Group Members</p>
    </div>
    <div class="container">
      <div class="card-list">
        <Card title="Wunna Oo" img_url="../assets/profile-4.jpg" />
        <Card title="Thin Thiri Hlaing" img_url="../assets/profile-1.jpg" />
        <Card title="Khin Hme Hme Htun" img_url="../assets/profile-2.jpg" />
        <Card title="Ei Thawdar Yamin" img_url="../assets/profile-3.jpg" />
      </div>
    </div>
  </section>
</Layout>
