---
---
<section class="Our-team" id="our_team">
  <div class="d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column align-items-center py-5">
      <div class="row">
        <h1 class="mb-5 text-center">Our Team</h1>
        <div
          class="col-6 mb-3 mb-lg-0 col-md-3 d-flex flex-column align-items-center"
        >
          <img
            class="rounded-circle profile-img"
            src="/assets/profile-1.jpg"
            alt=""
          />
          <h4 class="mt-2">TTH</h4>
        </div>
        <div class="col-6 col-md-3 d-flex flex-column align-items-center">
          <img
            class="rounded-circle profile-img"
            src="/assets/profile-2.jpg"
            alt=""
          />
          <h4 class="mt-2">KHH</h4>
        </div>
        <div class="col-6 col-md-3 d-flex flex-column align-items-center">
          <img
            class="rounded-circle profile-img"
            src="/assets/profile-3.jpg"
            alt=""
          />
          <h4 class="mt-2">ETY</h4>
        </div>
        <div class="col-6 col-md-3 d-flex flex-column align-items-center">
          <img
            class="rounded-circle profile-img"
            src="/assets/profile-4.jpg"
            alt=""
          />
          <h4 class="mt-2">WNO</h4>
        </div>
      </div>
      <div class="my-3">
        <a href="/our_team"><button class="btn">Seen More</button></a>
      </div>
    </div>
  </div>
</section>
